Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Models/Material.uasset
Content/Models/Material_001.uasset
361814271621421618342492124424133174203223.ico
desktop.ini